<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Basics</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" />
        <script src="https://unpkg.com/vue@next" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Vue Events</h1>
        </header>
        <section id="events">
            <h2>Events in Action</h2>
            <button v-on:click="add(5)">Add 5</button>
            <button v-on:click.right="reduce(5)">Reduce 5</button>
            <p v-once>Starting Counter: {{counter}}</p>
            <p>Result: {{counter}}</p>

            <!-- ** 입력할 것이 두개일 때 -->
            <!-- name이나 lastName이 변경될 때마다 fullName업데이트 -->
            <input type="text" v-model="name" />
            <input type="text" v-model="lastName" />
            <button v-on:click="resetInput">Reset Input</button>

            <!-- vue에 내장된 또 다른 반응성 기능 : 감시자(watcher) -->
            <!-- 감시자는 기본적으로 의존성 중 하나가 변경될 때 vue에 실행하도록 지시할 수 있는 함수 -->
            <!-- 연산 프로퍼티 대신 감시자 사용 가능 -->
            <!-- 하지만 대안으로 사용하기엔 연산 프로퍼티를 사용하는 것이 더 쉬움 -->
            <!-- **연산 프로퍼티는 하나 이상의 의존성을 사용할 때 발생 -->
            <!-- 그럼 watch는 왜 있을까? -->
            <!-- counter가 50을 초과하면 재설정한다고 가정해보자 -->
            <p>Your name: {{fullname}}</p>
            <form v-on:submit.prevent="submitForm">
                <input type="text" />
                <button>Sign Up</button>
            </form>
        </section>
    </body>
</html>
