<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Basics</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" />
        <script src="https://unpkg.com/vue@next" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Monster Slayer</h1>
        </header>
        <div id="game">
            <section id="monster" class="container">
                <h2>Monster Health</h2>
                <div class="healthbar">
                    <!-- 스타일 바인딩에 객체 전달 가능
                   -->
                    <div
                        class="healthbar__value"
                        :style="monsterBarStyles"
                    ></div>
                </div>
            </section>
            <section id="player" class="container">
                <h2>Your Health</h2>
                <div class="healthbar">
                    <div
                        class="healthbar__value"
                        :style="playerBarStyles"
                    ></div>
                </div>
            </section>
            <!-- v-if="winner" 은 null일 때 거짓으로 인식되기 때문에 출력되지 않음-->
            <section class="container" v-if="winner">
                <h2>Game Over!</h2>
                <h3 v-if="winner === 'monster' ">You lost!</h3>
                <h3 v-else-if="winner === 'player' ">You won!</h3>
                <h3 v-else>It's a draw!</h3>
                <button @click="startGame">Start New Game</button>
            </section>
            <!-- winner가 없을 경우 = 즉, 승자가 가려지지 않을 경우만 controls를 사용할 수 있다. -->
            <!-- or v-else도 사용 가능 -->
            <section id="controls" v-if="!winner">
                <button @click="attackMonster">ATTACK</button>
                <!-- 현재 턴 수가 3의 배수가 아니면 버튼을 비활성화 -->
                <button
                    :disabled="mayUseSpecialAttack"
                    @click="specialAttackMonster"
                >
                    SPECIAL ATTACK
                </button>
                <button @click="healPlayer">HEAL</button>
                <button @click="surrender">SURRENDER</button>
            </section>
            <section id="log" class="container">
                <h2>Battle Log</h2>
                <ul>
                    <li v-for="logMessage in logMessages">
                        <span
                            :class="{'log--player' : logMessage.actionBy === 'player', 'log--monster' : logMessage.actionBy === 'monster'}"
                        >
                            <!-- 위의 class는 아래 목록 항목으로 렌더링되는 구체적인 값에 의존하기 때문에 computed로 아웃소싱하려면 복잡함 -->
                            {{logMessage.actionBy === 'player' ? 'Player' :
                            'Monster'}}
                        </span>
                        <span v-if="logMessage.actionType === 'heal'">
                            heals himself for
                            <span class="log--heal"
                                >{{logMessage.actionValue}}</span
                            >
                        </span>
                        <span v-else>
                            attacks and deals
                            <span class="log--damage"
                                >{{logMessage.actionValue}}</span
                            ></span
                        >

                        <span
                            >{{logMessage.actionBy === 'player' ? 'Player' :
                            'Monster'}}</span
                        >
                    </li>
                </ul>
            </section>
        </div>
    </body>
</html>
